{
   "htke"      "application/vnd.kenameaapp"
   "fst"       "image/vnd.fst"
   "mpga"      "audio/mpeg"
   "pki"       "application/pkixcmp"
   "dvb"       "video/vnd.dvb.file"
   "mpkg"      "application/vnd.apple.installer+xml"
   "aw"        "application/applixware"
   "mp4"       "video/mp4"
   "gxf"       "application/gxf"
   "json"      "application/json"
   "cod"       "application/vnd.rim.cod"
   "csp"       "application/vnd.commonspace"
   "x3d"       "model/x3d+xml"
   "mets"      "application/mets+xml"
   "sis"       "application/vnd.symbian.install"
   "m4u"       "video/vnd.mpegurl"
   "ipk"       "application/vnd.shana.informed.package"
   "mjp2"      "video/mj2"
   "p10"       "application/pkcs10"
   "h261"      "video/h261"
   "unityweb"  "application/vnd.unity"
   "ssml"      "application/ssml+xml"
   "oa3"       "application/vnd.fujitsu.oasys3"
   "gif"       "image/gif"
   "wml"       "text/vnd.wap.wml"
   "hal"       "application/vnd.hal+xml"
   "webm"      "video/webm"
   "uvvd"      "application/vnd.dece.data"
   "mts"       "model/vnd.mts"
   "3gp"       "video/3gpp"
   "fcs"       "application/vnd.isac.fcs"
   "uvvz"      "application/vnd.dece.zip"
   "igs"       "model/iges"
   "xspf"      "application/xspf+xml"
   "qfx"       "application/vnd.intu.qfx"
   "st"        "application/vnd.sailingtracker.track"
   "curl"      "text/vnd.curl"
   "xul"       "application/vnd.mozilla.xul+xml"
   "vsf"       "application/vnd.vsf"
   "edm"       "application/vnd.novadigm.edm"
   "fxpl"      "application/vnd.adobe.fxp"
   "mxml"      "application/xv+xml"
   "book"      "application/vnd.framemaker"
   "vor"       "application/vnd.stardivision.writer"
   "qam"       "application/vnd.epson.quickanime"
   "rep"       "application/vnd.businessobjects"
   "ecelp9600"  "audio/vnd.nuera.ecelp9600"
   "see"       "application/vnd.seemail"
   "js"        "application/javascript"
   "bh2"       "application/vnd.fujitsu.oasysprs"
   "zirz"      "application/vnd.zul"
   "sru"       "application/sru+xml"
   "ink"       "application/inkml+xml"
   "tiff"      "image/tiff"
   "pbd"       "application/vnd.powerbuilder6"
   "qt"        "video/quicktime"
   "gqs"       "application/vnd.grafeq"
   "mqy"       "application/vnd.mobius.mqy"
   "gram"      "application/srgs"
   "djvu"      "image/vnd.djvu"
   "list"      "text/plain"
   "odf"       "application/vnd.oasis.opendocument.formula"
   "cdxml"     "application/vnd.chemdraw+xml"
   "svc"       "application/vnd.dvb.service"
   "pcap"      "application/vnd.tcpdump.pcap"
   "oprc"      "application/vnd.palm"
   "xml"       "application/xml"
   "std"       "application/vnd.sun.xml.draw.template"
   "mpe"       "video/mpeg"
   "onetoc2"   "application/onenote"
   "rtx"       "text/richtext"
   "qwd"       "application/vnd.quark.quarkxpress"
   "ei6"       "application/vnd.pg.osasli"
   "icm"       "application/vnd.iccprofile"
   "taglet"    "application/vnd.mynfc"
   "oxt"       "application/vnd.openofficeorg.extension"
   "h264"      "video/h264"
   "dp"        "application/vnd.osgi.dp"
   "omdoc"     "application/omdoc+xml"
   "fnc"       "application/vnd.frogans.fnc"
   "fxp"       "application/vnd.adobe.fxp"
   "mpn"       "application/vnd.mophun.application"
   "sub"       "text/vnd.dvb.subtitle"
   "uvvu"      "video/vnd.uvvu.mp4"
   "igx"       "application/vnd.micrografx.igx"
   "sbml"      "application/sbml+xml"
   "mseq"      "application/vnd.mseq"
   "qwt"       "application/vnd.quark.quarkxpress"
   "es3"       "application/vnd.eszigno3+xml"
   "c4g"       "application/vnd.clonk.c4group"
   "webp"      "image/webp"
   "ogg"       "audio/ogg"
   "roff"      "text/troff"
   "fpx"       "image/vnd.fpx"
   "djv"       "image/vnd.djvu"
   "dna"       "application/vnd.dna"
   "m3a"       "audio/mpeg"
   "esf"       "application/vnd.epson.esf"
   "xvml"      "application/xv+xml"
   "msf"       "application/vnd.epson.msf"
   "cdy"       "application/vnd.cinderella"
   "clkx"      "application/vnd.crick.clicker"
   "swi"       "application/vnd.aristanetworks.swi"
   "ssdl"      "application/ssdl+xml"
   "dtshd"     "audio/vnd.dts.hd"
   "wmlsc"     "application/vnd.wap.wmlscriptc"
   "fdf"       "application/vnd.fdf"
   "xdp"       "application/vnd.adobe.xdp+xml"
   "txd"       "application/vnd.genomatix.tuxedo"
   "spot"      "text/vnd.in3d.spot"
   "uvf"       "application/vnd.dece.data"
   "yin"       "application/yin+xml"
   "yang"      "application/yang"
   "qxt"       "application/vnd.quark.quarkxpress"
   "tpt"       "application/vnd.trid.tpt"
   "silo"      "model/mesh"
   "tr"        "text/troff"
   "kne"       "application/vnd.kinar"
   "sti"       "application/vnd.sun.xml.impress.template"
   "pdf"       "application/pdf"
   "gxt"       "application/vnd.geonext"
   "odg"       "application/vnd.oasis.opendocument.graphics"
   "bmi"       "application/vnd.bmi"
   "c4f"       "application/vnd.clonk.c4group"
   "vtu"       "model/vnd.vtu"
   "daf"       "application/vnd.mobius.daf"
   "uvs"       "video/vnd.dece.sd"
   "semd"      "application/vnd.semd"
   "mathml"    "application/mathml+xml"
   "wbxml"     "application/vnd.wap.wbxml"
   "cgm"       "image/cgm"
   "sgi"       "image/sgi"
   "g3"        "image/g3fax"
   "sdd"       "application/vnd.stardivision.impress"
   "x3dv"      "model/x3d+vrml"
   "meta4"     "application/metalink4+xml"
   "rdf"       "application/rdf+xml"
   "mcd"       "application/vnd.mcd"
   "uvv"       "video/vnd.dece.video"
   "eml"       "message/rfc822"
   "maker"     "application/vnd.framemaker"
   "onetoc"    "application/onenote"
   "uvx"       "application/vnd.dece.unspecified"
   "sxg"       "application/vnd.sun.xml.writer.global"
   "lostxml"   "application/lost+xml"
   "dcurl"     "text/vnd.curl.dcurl"
   "str"       "application/vnd.pg.format"
   "gph"       "application/vnd.flographit"
   "xslt"      "application/xslt+xml"
   "shf"       "application/shf+xml"
   "plc"       "application/vnd.mobius.plc"
   "dot"       "application/msword"
   "clkt"      "application/vnd.crick.clicker.template"
   "ufdl"      "application/vnd.ufdl"
   "xhtml"     "application/xhtml+xml"
   "ps"        "application/postscript"
   "btif"      "image/prs.btif"
   "tei"       "application/tei+xml"
   "qxl"       "application/vnd.quark.quarkxpress"
   "uvvv"      "video/vnd.dece.video"
   "paw"       "application/vnd.pawaafile"
   "g2w"       "application/vnd.geoplan"
   "uvvm"      "video/vnd.dece.mobile"
   "x3dvz"     "model/x3d+vrml"
   "dae"       "model/vnd.collada+xml"
   "utz"       "application/vnd.uiq.theme"
   "pcurl"     "application/vnd.curl.pcurl"
   "mj2"       "video/mj2"
   "mbox"      "application/mbox"
   "osfpvg"    "application/vnd.yamaha.openscoreformat.osfpvg+xml"
   "rmi"       "audio/midi"
   "wrl"       "model/vrml"
   "css"       "text/css"
   "mp3"       "audio/mpeg"
   "oxps"      "application/oxps"
   "fm"        "application/vnd.framemaker"
   "xvm"       "application/xv+xml"
   "cdkey"     "application/vnd.mediastation.cdkey"
   "sda"       "application/vnd.stardivision.draw"
   "csv"       "text/csv"
   "mxl"       "application/vnd.recordare.musicxml"
   "uoml"      "application/vnd.uoml+xml"
   "sisx"      "application/vnd.symbian.install"
   "atomsvc"   "application/atomsvc+xml"
   "svg"       "image/svg+xml"
   "dxp"       "application/vnd.spotfire.dxp"
   "weba"      "audio/webm"
   "mads"      "application/mads+xml"
   "xpl"       "application/xproc+xml"
   "scurl"     "text/vnd.curl.scurl"
   "mseed"     "application/vnd.fdsn.mseed"
   "uvh"       "video/vnd.dece.hd"
   "sgml"      "text/sgml"
   "dpg"       "application/vnd.dpgraph"
   "xht"       "application/xhtml+xml"
   "xfdl"      "application/vnd.xfdl"
   "epub"      "application/epub+zip"
   "kpt"       "application/vnd.kde.kpresenter"
   "dts"       "audio/vnd.dts"
   "jpeg"      "image/jpeg"
   "snd"       "audio/basic"
   "m2v"       "video/mpeg"
   "i2g"       "application/vnd.intergeo"
   "wmlc"      "application/vnd.wap.wmlc"
   "m1v"       "video/mpeg"
   "vis"       "application/vnd.visionary"
   "mlp"       "application/vnd.dolby.mlp"
   "mp4v"      "video/mp4"
   "plf"       "application/vnd.pocketlearn"
   "gpx"       "application/gpx+xml"
   "cdbcmsg"   "application/vnd.contact.cmsg"
   "eps"       "application/postscript"
   "stc"       "application/vnd.sun.xml.calc.template"
   "icc"       "application/vnd.iccprofile"
   "dis"       "application/vnd.mobius.dis"
   "skp"       "application/vnd.koan"
   "3dml"      "text/vnd.in3d.3dml"
   "odi"       "application/vnd.oasis.opendocument.image"
   "igl"       "application/vnd.igloader"
   "vcx"       "application/vnd.vcx"
   "box"       "application/vnd.previewsystems.box"
   "lvp"       "audio/vnd.lucent.voice"
   "ogv"       "video/ogg"
   "xhvml"     "application/xv+xml"
   "ogx"       "application/ogg"
   "davmount"  "application/davmount+xml"
   "uvvp"      "video/vnd.dece.pd"
   "ifm"       "application/vnd.shana.informed.formdata"
   "dssc"      "application/dssc+der"
   "listafp"   "application/vnd.ibm.modcap"
   "mb"        "application/mathematica"
   "smi"       "application/smil+xml"
   "zir"       "application/vnd.zul"
   "qbo"       "application/vnd.intu.qbo"
   "mbk"       "application/vnd.mobius.mbk"
   "uvu"       "video/vnd.uvvu.mp4"
   "dwf"       "model/vnd.dwf"
   "rip"       "audio/vnd.rip"
   "xif"       "image/vnd.xiff"
   "pls"       "application/pls+xml"
   "log"       "text/plain"
   "gtw"       "model/vnd.gtw"
   "xenc"      "application/xenc+xml"
   "ait"       "application/vnd.dvb.ait"
   "wg"        "application/vnd.pmi.widget"
   "skm"       "application/vnd.koan"
   "clkw"      "application/vnd.crick.clicker.wordbank"
   "ufd"       "application/vnd.ufdl"
   "xpx"       "application/vnd.intercon.formnet"
   "mfm"       "application/vnd.mfmp"
   "fcdt"      "application/vnd.adobe.formscentral.fcdt"
   "exi"       "application/exi"
   "m2a"       "audio/mpeg"
   "ptid"      "application/vnd.pvi.ptid1"
   "xm"        "audio/xm"
   "osf"       "application/vnd.yamaha.openscoreformat"
   "wbmp"      "image/vnd.wap.wbmp"
   "sdc"       "application/vnd.stardivision.calc"
   "clkp"      "application/vnd.crick.clicker.palette"
   "gmx"       "application/vnd.gmx"
   "inkml"     "application/inkml+xml"
   "xar"       "application/vnd.xara"
   "ftc"       "application/vnd.fluxtime.clip"
   "xsm"       "application/vnd.syncml+xml"
   "geo"       "application/vnd.dynageo"
   "txf"       "application/vnd.mobius.txf"
   "c4u"       "application/vnd.clonk.c4group"
   "ext"       "application/vnd.novadigm.ext"
   "mpeg"      "video/mpeg"
   "tif"       "image/tiff"
   "jpm"       "video/jpm"
   "jpgm"      "video/jpm"
   "mp2a"      "audio/mpeg"
   "wmls"      "text/vnd.wap.wmlscript"
   "ecelp4800"  "audio/vnd.nuera.ecelp4800"
   "vcard"     "text/vcard"
   "mp4a"      "audio/mp4"
   "stk"       "application/hyperstudio"
   "link66"    "application/vnd.route66.link66+xml"
   "wqd"       "application/vnd.wqd"
   "mcurl"     "text/vnd.curl.mcurl"
   "ma"        "application/mathematica"
   "vsd"       "application/vnd.visio"
   "uva"       "audio/vnd.dece.audio"
   "m4a"       "audio/mp4"
   "dwg"       "image/vnd.dwg"
   "esa"       "application/vnd.osgi.subsystem"
   "sgm"       "text/sgml"
   "x3dz"      "model/x3d+xml"
   "3g2"       "video/3gpp2"
   "c4p"       "application/vnd.clonk.c4group"
   "msh"       "model/mesh"
   "man"       "text/troff"
   "mime"      "message/rfc822"
   "mag"       "application/vnd.ecowin.chart"
   "igm"       "application/vnd.insors.igm"
   "ods"       "application/vnd.oasis.opendocument.spreadsheet"
   "ms"        "text/troff"
   "skd"       "application/vnd.koan"
   "smil"      "application/smil+xml"
   "cww"       "application/prs.cww"
   "uvp"       "video/vnd.dece.pd"
   "seed"      "application/vnd.fdsn.seed"
   "uvm"       "video/vnd.dece.mobile"
   "uvvf"      "application/vnd.dece.data"
   "ddd"       "application/vnd.fujixerox.ddd"
   "onetmp"    "application/onenote"
   "atom"      "application/atom+xml"
   "musicxml"  "application/vnd.recordare.musicxml+xml"
   "mmf"       "application/vnd.smaf"
   "odb"       "application/vnd.oasis.opendocument.database"
   "uvi"       "image/vnd.dece.graphic"
   "teicorpus"  "application/tei+xml"
   "hbci"      "application/vnd.hbci"
   "htm"       "text/html"
   "text"      "text/plain"
   "spx"       "audio/ogg"
   "ecma"      "application/ecmascript"
   "nb"        "application/mathematica"
   "uvvh"      "video/vnd.dece.hd"
   "uvvt"      "application/vnd.dece.ttml+xml"
   "dmp"       "application/vnd.tcpdump.pcap"
   "qxb"       "application/vnd.quark.quarkxpress"
   "ccxml"     "application/ccxml+xml"
   "g3w"       "application/vnd.geospace"
   "vxml"      "application/voicexml+xml"
   "mp4s"      "application/mp4"
   "wspolicy"  "application/wspolicy+xml"
   "sfs"       "application/vnd.spotfire.sfs"
   "conf"      "text/plain"
   "smzip"     "application/vnd.stepmania.package"
   "mgz"       "application/vnd.proteus.magazine"
   "ifb"       "text/calendar"
   "ipfix"     "application/ipfix"
   "ltf"       "application/vnd.frogans.ltf"
   "mxs"       "application/vnd.triscape.mxs"
   "tcap"      "application/vnd.3gpp2.tcap"
   "vss"       "application/vnd.visio"
   "grxml"     "application/srgs+xml"
   "mus"       "application/vnd.musician"
   "ktz"       "application/vnd.kahootz"
   "mpm"       "application/vnd.blueice.multipass"
   "wbs"       "application/vnd.criticaltools.wbs+xml"
   "nitf"      "application/vnd.nitf"
   "dra"       "audio/vnd.dra"
   "uvt"       "application/vnd.dece.ttml+xml"
   "gdl"       "model/vnd.gdl"
   "mpg4"      "video/mp4"
   "viv"       "video/vnd.vivo"
   "msty"      "application/vnd.muvee.style"
   "atc"       "application/vnd.acucorp"
   "tra"       "application/vnd.trueapp"
   "x3dbz"     "model/x3d+binary"
   "kia"       "application/vnd.kidspiration"
   "afp"       "application/vnd.ibm.modcap"
   "vst"       "application/vnd.visio"
   "mpc"       "application/vnd.mophun.certificate"
   "sdp"       "application/sdp"
   "bed"       "application/vnd.realvnc.bed"
   "wgt"       "application/widget"
   "jsonml"    "application/jsonml+json"
   "dsc"       "text/prs.lines.tag"
   "x3db"      "model/x3d+binary"
   "stw"       "application/vnd.sun.xml.writer.template"
   "h263"      "video/h263"
   "karbon"    "application/vnd.kde.karbon"
   "t"         "text/troff"
   "sxc"       "application/vnd.sun.xml.calc"
   "umj"       "application/vnd.umajin"
   "kfo"       "application/vnd.kde.kformula"
   "mxu"       "video/vnd.mpegurl"
   "svd"       "application/vnd.svd"
   "cmc"       "application/vnd.cosmocaller"
   "mwf"       "application/vnd.mfer"
   "ai"        "application/postscript"
   "mov"       "video/quicktime"
   "ics"       "text/calendar"
   "jam"       "application/vnd.jam"
   "fzs"       "application/vnd.fuzzysheet"
   "mgp"       "application/vnd.osgeo.mapguide.package"
   "ggb"       "application/vnd.geogebra.file"
   "uvd"       "application/vnd.dece.data"
   "m3u8"      "application/vnd.apple.mpegurl"
   "xsl"       "application/xml"
   "xpw"       "application/vnd.intercon.formnet"
   "mesh"      "model/mesh"
   "et3"       "application/vnd.eszigno3+xml"
   "oga"       "audio/ogg"
   "fly"       "text/vnd.fly"
   "smf"       "application/vnd.stardivision.math"
   "ggt"       "application/vnd.geogebra.tool"
   "nlu"       "application/vnd.neurolanguage.nlu"
   "psd"       "image/vnd.adobe.photoshop"
   "nbp"       "application/vnd.wolfram.player"
   "uvvi"      "image/vnd.dece.graphic"
   "list3820"  "application/vnd.ibm.modcap"
   "xfdf"      "application/vnd.adobe.xfdf"
   "acu"       "application/vnd.acucobol"
   "onepkg"    "application/onenote"
   "xdm"       "application/vnd.syncml.dm+xml"
   "s3m"       "audio/s3m"
   "msl"       "application/vnd.mobius.msl"
   "teacher"   "application/vnd.smart.teacher"
   "sema"      "application/vnd.sema"
   "uvz"       "application/vnd.dece.zip"
   "ttl"       "text/turtle"
   "semf"      "application/vnd.semf"
   "odt"       "application/vnd.oasis.opendocument.text"
   "vrml"      "model/vrml"
   "uvvg"      "image/vnd.dece.graphic"
   "rif"       "application/reginfo+xml"
   "iges"      "model/iges"
   "cla"       "application/vnd.claymore"
   "png"       "image/png"
   "txt"       "text/plain"
   "flw"       "application/vnd.kde.kivio"
   "vsw"       "application/vnd.visio"
   "kon"       "application/vnd.kde.kontour"
   "sdkd"      "application/vnd.solent.sdkm+xml"
   "jpgv"      "video/jpeg"
   "azs"       "application/vnd.airzip.filesecure.azs"
   "dart"      "application/vnd.dart"
   "mp21"      "application/mp21"
   "ktx"       "image/ktx"
   "sxm"       "application/vnd.sun.xml.math"
   "ief"       "image/ief"
   "dbk"       "application/docbook+xml"
   "dfac"      "application/vnd.dreamfactory"
   "car"       "application/vnd.curl.car"
   "edx"       "application/vnd.novadigm.edx"
   "imp"       "application/vnd.accpac.simply.imp"
   "xbd"       "application/vnd.fujixerox.docuworks.binder"
   "azf"       "application/vnd.airzip.filesecure.azf"
   "acc"       "application/vnd.americandynamics.acc"
   "pskcxml"   "application/pskc+xml"
   "gv"        "text/vnd.graphviz"
   "flo"       "application/vnd.micrografx.flo"
   "ktr"       "application/vnd.kahootz"
   "sil"       "audio/silk"
   "flx"       "text/vnd.fmi.flexstor"
   "midi"      "audio/midi"
   "cryptonote"  "application/vnd.rig.cryptonote"
   "c4d"       "application/vnd.clonk.c4group"
   "adp"       "audio/adpcm"
   "mods"      "application/mods+xml"
   "uvg"       "image/vnd.dece.graphic"
   "wtb"       "application/vnd.webturbo"
   "xaml"      "application/xaml+xml"
   "sdw"       "application/vnd.stardivision.writer"
   "mif"       "application/vnd.mif"
   "kar"       "audio/midi"
   "odp"       "application/vnd.oasis.opendocument.presentation"
   "azw"       "application/vnd.amazon.ebook"
   "jpe"       "image/jpeg"
   "mc1"       "application/vnd.medcalcdata"
   "acutc"     "application/vnd.acucorp"
   "def"       "text/plain"
   "p8"        "application/pkcs8"
   "sxi"       "application/vnd.sun.xml.impress"
   "oa2"       "application/vnd.fujitsu.oasys2"
   "fg5"       "application/vnd.fujitsu.oasysgp"
   "html"      "text/html"
   "cap"       "application/vnd.tcpdump.pcap"
   "slt"       "application/vnd.epson.salt"
   "n3"        "text/n3"
   "efif"      "application/vnd.picsel"
   "ssf"       "application/vnd.epson.ssf"
   "atomcat"   "application/atomcat+xml"
   "frame"     "application/vnd.framemaker"
   "gqf"       "application/vnd.grafeq"
   "metalink"  "application/metalink+xml"
   "dataless"  "application/vnd.fdsn.seed"
   "zaz"       "application/vnd.zzazz.deck+xml"
   "jisp"      "application/vnd.jisp"
   "mpy"       "application/vnd.ibm.minipay"
   "oas"       "application/vnd.fujitsu.oasys"
   "skt"       "application/vnd.koan"
   "lasxml"    "application/vnd.las.las+xml"
   "pdb"       "application/vnd.palm"
   "irp"       "application/vnd.irepository.package+xml"
   "portpkg"   "application/vnd.macports.portpkg"
   "uvva"      "audio/vnd.dece.audio"
   "fsc"       "application/vnd.fsc.weblaunch"
   "rsd"       "application/rsd+xml"
   "m21"       "application/mp21"
   "pqa"       "application/vnd.palm"
   "uvvs"      "video/vnd.dece.sd"
   "rcprofile"  "application/vnd.ipunplugged.rcprofile"
   "chrt"      "application/vnd.kde.kchart"
   "mp2"       "audio/mpeg"
   "aep"       "application/vnd.audiograph"
   "mid"       "audio/midi"
   "xdw"       "application/vnd.fujixerox.docuworks"
   "iif"       "application/vnd.shana.informed.interchange"
   "bdm"       "application/vnd.syncml.dm+wbxml"
   "jpg"       "image/jpeg"
   "gml"       "application/gml+xml"
   "wpd"       "application/vnd.wordperfect"
   "dd2"       "application/vnd.oma.dd2+xml"
   "kwt"       "application/vnd.kde.kword"
   "mscml"     "application/mediaservercontrol+xml"
   "uvvx"      "application/vnd.dece.unspecified"
   "sm"        "application/vnd.stepmania.stepchart"
   "xdssc"     "application/dssc+xml"
   "ksp"       "application/vnd.kde.kspread"
   "mrcx"      "application/marcxml+xml"
   "odc"       "application/vnd.oasis.opendocument.chart"
   "ahead"     "application/vnd.ahead.space"
   "wsdl"      "application/wsdl+xml"
   "itp"       "application/vnd.shana.informed.formtemplate"
   "rss"       "application/rss+xml"
   "me"        "text/troff"
   "emma"      "application/emma+xml"
   "zip"       "application/zip"
   "hlp"       "application/winhlp"
   "ami"       "application/vnd.amiga.ami"
   "doc"       "application/msword"
   "svgz"      "image/svg+xml"
   "aso"       "application/vnd.accpac.simply.aso"
   "clkk"      "application/vnd.crick.clicker.keyboard"
   "au"        "audio/basic"
   "rtf"       "application/rtf"
   "kwd"       "application/vnd.kde.kword"
   "fvt"       "video/vnd.fvt"
   "nml"       "application/vnd.enliven"
   "dxf"       "image/vnd.dxf"
   "fbs"       "image/vnd.fastbidsheet"
   "qxd"       "application/vnd.quark.quarkxpress"
   "stf"       "application/vnd.wt.stf"
   "sxd"       "application/vnd.sun.xml.draw"
   "sdkm"      "application/vnd.solent.sdkm+xml"
   "rp9"       "application/vnd.cloanto.rp9"
   "sxw"       "application/vnd.sun.xml.writer"
   "mxf"       "application/mxf"
   "in"        "text/plain"
   "ecelp7470"  "audio/vnd.nuera.ecelp7470"
   "mrc"       "application/marc"
   "mpg"       "video/mpeg"
   "kpr"       "application/vnd.kde.kpresenter"
   "knp"       "application/vnd.kinar"
   "oda"       "application/oda"
   "bmp"       "image/bmp"
   "xop"       "application/xop+xml"
   "ntf"       "application/vnd.nitf"
   "tfi"       "application/thraud+xml"
}
