*

!/docker
!/docker/**
!/resources
!/resources/**
!/src
!/src/**
!/test-resources
!/test-resources/**
!/.cljfmt.edn
!/.env
!/.envrc
!/.gitignore
!/.psqlrc
!/deps.edn
!/Justfile
!/package.json
!/package-lock.json
!/shadow-cljs.edn
!/tests.edn
!/docker-compose.yml
!/README.md
